.centralizar{
    text-align: center;
    font-weight: bold;
    background-color: aquamarine !important;
    color: rebeccapurple;
    display: flex;
    align-items: center;
    justify-content: center;
}